<form class="mt-4">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="msm0102712@gmail.com">
    </div>
    <div class="form-group mt-4">
      <label for="exampleInputPassword1">Contraseña Actual</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>    <div class="form-group mt-4">
      <label for="exampleInputPassword1">Nueva contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group mt-4">
      <label for="exampleInputPassword1">Confirmar nueva contrseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <h3 class="mb-4">Actualizar contactos a notificar</h3>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Grupo Familia</h5>
              <p class="card-text">55866214 (Mama)</p>
              <a class="btn btn-primary mt-4">Editar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Grupo Amigos</h5>
              <p class="card-text">784125785 (Fredy)</p>
              <a class="btn btn-primary mt-4">Editar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Trabajo</h5>
                <p class="card-text">Chino 77445558787</p>
                <a class="btn btn-primary mt-4">Editar</a>
              </div>
            </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Actualizar</button>
  </form>